* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ol, ul, menu{
    list-style: none;
    list-style-position: outside
}

.card_section li{
    display: flex;
    gap: 5px;
    vertical-align: baseline;    
}


img {
    max-width: 100%;
}

.main_icon {
    font-size: 15px;
}

/* REGOLE CONTAINER */

.container_large {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* REGOLE BUTTON */
.main_header a {
    text-decoration: none;
    color: black;
}

.button a {
    text-decoration: none;
    color: white;

}

.button {
    padding: 10px 15px;
    border: 0;
}

.button_blue {
    background-color: #0061FF;
    color: white;
}

/* REGOLE HEADER */


.main_header {
    width: 100%;
    background-color: white;
}

.main_nav, .main_nav_left, .main_nav_list_left,
.main_nav_list_right, .main_nav_right  {
    display: flex;
}

.main_nav_list_left, .main_nav_list_right   {
    align-items: center;
}

.main_nav {
    justify-content: space-between;
    padding: 20px;
}

.nav_logo {
    width: 136px;
    height: 28px;
}

.main_header a {
    padding: 0 10px;
}

/* MAIN JUMBO SECTION */

.jumbo_main, .jumbo_main_article {
    display: flex;
}


.jumbo_section {
    background-color: #B4D0E7;
    padding-top: 80px;
    height: 733px;
}

.jumbo_title  h1 {
    font-size: 90px;
}

.jumbo_main .jumbo_main_article {
    flex-basis: 35%;
    flex-direction: column;
}

.fa-arrow-down {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 50px;
}


.jumbo_main_img{
    flex-basis: 65%;
    position: relative;    

}

.jumbo_main_img img, .jumbo_main_article li {
    padding-top: 40px;
}

.jumbo_main_img img{
    position: absolute;
    top: 0px;
    left: 0px;
}   

.jumbo_section + section {
    padding-top: 200px;
}



/* CARD TITLE SECTION */



.card_section_title {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card_section h2 {
    font-size: 40px;
}

.card_section_checkbox span {
    padding-right: 20px;
}


/* CARD SECTION */
.row {
    padding-top: 20px;
}

.row, .main_card_top, .main_card_title, .card_list ul, .main_card_bottom,
.main_card_bottom ul{
    display: flex;
    gap: 20px;
}

.main_card_top, .main_card_bottom {
    padding: 30px 15px 40px;
}

.main_card_top {
    gap: 60px;
    justify-content: space-around;
}

.main_card_top, .main_card_title, .card_list  ul, .main_card_bottom,
.main_card_bottom ul{
    flex-direction: column;
}

.main_card_title span:last-child {
    color: grey;
}

.main_card_bottom{
    gap: 40px;
}

.main_card_bottom ul {
    justify-content: space-around;
}

.col-4 {
    width: calc(100% / 3);
}

.card {
    border: 1px solid lightgrey;
    height: 980px;
}

.card_type {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}

.main_card_bottom li::before {
    content: '\2713';
    color: #0061FF;
}

/* HORIZONTAL CARD */

.main_horizontal_card, .horizontal_card_left {
    display: flex;
}

.horizontal_card_left {
    flex-direction: column;
    justify-content: space-around;
}

.horizontal_card_right {
    padding-top: 15px;
}

.main_horizontal_card {
    padding: 30px 15px 30px;
    height: 219px;

}

.col_horizontal_row {
    padding-top: 40px;
}

.horizontal_card {
    border: 1px solid lightgrey;
    height: 260px;
}





/* DEBUG */


