* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ol, ul, menu{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

.main_icon {
    font-size: 15px;
}


/* REGOLE LAYOUT */


.container_large {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-plan {
    flex-grow: 1;
    flex-basis: 0;
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-8 {
    flex-basis: calc(100% *2 / 3);
}


.col-12-plan {
    flex-basis: calc(100% / 1);
}

section {
    padding-top: 150px;
}



/* REGOLE BUTTON */


.button {
    line-height: 44px;
    padding: 0 16px;
    text-align: center;
}

.button-normal {
    font-size: 18px;
    padding: 0 16px;
    text-align: center;
}


a.button {
    display: inline-block;
}

.button--blue {
    background-color: #0061ff;
    color: white;
}

.button--white {
    border: 1px solid black;
}



/* REGOLE HEADER */



.main_header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.main_nav, .main_nav_left, .main_nav_list_left,
.main_nav_list_right, .main_nav_right  {
    display: flex;
}

.main_nav_list_left, .main_nav_list_right   {
    align-items: center;
}

.main_nav {
    justify-content: space-between;
    padding: 0 20px;
    white-space: nowrap;
}

.nav_logo {
    width: 136px;
    height: 28px;
    padding-right: 10px;
}

.main_header a {
    padding: 0 10px;
}

.button--start {
    background-color: #0061ff;
    color: white;
} 



/* MAIN JUMBO SECTION */



.jumbo_main, .jumbo_main_article {
    display: flex;
}


.jumbo_section {
    background-color: #B4D0E7;
    padding-top: 170px;
}

.jumbo_title  h1 {
    font-size: 80px;
    padding-bottom: 20px;
}

.jumbo_main .jumbo_main_article {
    flex-basis: 35%;
    flex-direction: column;
}

.fa-arrow-down {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 50px;
}


.jumbo_main_img{
    flex-basis: 65%;
    position: relative;    

}


.jumbo_main_img img, .jumbo_main_article li {
    padding-top: 30px;
}

.jumbo_main_img img{
    position: absolute;
    top: 0px;
    left: 0px;
}   

.jumbo_section + section {
    padding-top: 200px;
}



/* CARD TITLE SECTION */



.card_section_title {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card_section h2 {
    font-size: 40px;
}

.card_section_checkbox span {
    padding-right: 20px;
}

.card_title {
    margin-bottom: 25px;
}

.card_price {
    margin-bottom: 16px;
}

.plan_time {
    color: lightgray;
}

.card_bottom h4 {
    margin-bottom: 34px;
}

.card-link {
    color: #0061ff;
}


/*  PLAN TEXT STYLE */

.main_plan_title {
    font-size: 42;
}

.card-12.title {
    margin-bottom: 20px;
}

.card-12.info {
    margin-bottom: 50px;
}

.card-12.text {
    font-size: 14px;
}

/* CARD SECTION */


.plan_section {
    padding-top: 145px;    
}

.plan_checkbox {
    padding-top: 50px;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.plan {
    flex-wrap: wrap;
    gap: 50px;
}

.card_header {
    text-align: center;
    padding: 9px 0;
    border-bottom: 1px solid lightgray;
}

.main_card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 35px;
}

.main_card .feature_item{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}


.main_card .card_bottom i{
    color: #0061ff;
}

.col-12-main-card {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.col-12-plane.card-left {
    justify-content: flex-start;
}


.col-plan, .col-12-plan {
    border: 1px solid lightgrey;
}



/* FIND PARTNER SECTION TEXT STYLE */


.find_partner_title {
    padding-top: 60px;
    padding-bottom: 16px;
}

.find_partner_text {
    padding-bottom: 30px;
}


/* FIND PARTNER SECTION */


.find_partner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/*  DROPBOX BUSISESS FEATURE TEXT STYLE*/

.business_title {
    margin-bottom: 60px;
}

.feature_img_title {
    margin-bottom: 38px;
}

/* DROPBOX BUSINESS FEATURE SECTION */

.business_card {
    padding: 30px;
}

.row.business_feature {
    margin: 0 -30px
}

/* DEBUG */

